<!DOCTYPE html>
<html>
<style>
    h1{
        color: red;
    }
</style>
<body>
    <h1>Profile Page</h1>
    <hr/>
    <h2> Personel ID:  <%=person%></h2>
    <h2> Data Transfer Object:  <%=data.age%> - <%=data.job%></h2>
</body>

</html>